/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  background: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  border-radius: 10px;
  height: 400px;
  width: 450px;
  font-family: 'Roboto';
  text-align: center;
}
.heading {
  font-size: 37px;
}
.even-odd {
  font-size: 22px;
}
.button {
  height: 40px;
  width: 150px;
  border-radius: 6px;
  font-size: 15px;
  border-style: none;
  cursor: pointer;
}
